html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;

  background-image: url("Images/omitb\ background.png");
  background-color: #ff6c6c;
}

p {
  color: rgb(188, 197, 96);
  font-size: 25px;
  text-align: center;
}

h1 {
  color: rgb(188, 197, 96);
}

h1 {
  font-size: 50px;
  text-align: center;
}

h2 {
  color: rgb(255, 0, 0);
}

h2 {
  font-size: 25px;
  text-align: left;
}

img {
  height: auto;
  border: 5px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 250px;
  margin: center;
  align-items: center;
}

.fotos {
  width: 30vw;
  float: left;
}

.column {
  float: right;
  width: 30%;
  padding: 5px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#blokje1 {
  text-align: center;
  background-color: rgb(44, 167, 3);
  font-family: sans-serif;
  padding: 5px;
  width: 300px;
  height: 70px
}

#knop_blokje1 {
  cursor: pointer;
  color: aliceblue;
}

#blokje2 {
  text-align: center;
  background-color: rgb(190, 0, 0);
  font-family: sans-serif;
  padding: 5px;
  width: 300px;
  height: 70px
}

#knop_blokje2 {
  cursor: pointer;
  color: aliceblue;
}

#blokje3 {
  text-align: center;
  background-color: rgb(255, 215, 17);
  font-family: sans-serif;
  padding: 5px;
  width: 300px;
  height: 70px
}

#knop_blokje3 {
  cursor: pointer;
  color: aliceblue;
}

.link2 {
  position: absolute;
  bottom: 5px;
  left: 40%;

  background-color: darkred;
  color: red;
  font-size: 20px;
}